 {% if is_granted('COMMENT', activeBug) %}
    <div class="comment-post">
        <form name="comment" method="POST" action="{{path('comment', {'bugID': activeBug.id})}}">
            <textarea id="{{commentForm.body.vars.id}}" name="{{commentForm.body.vars.full_name}}" class="form-control comment-textbox mt-1 mb-2"  rows=1 placeholder="{{'Add a comment...'|trans}}" autocomplete="off"></textarea>
            <button  class="btn  btn-primary btn-block" type="submit">
                {{'Post'|trans}}
            </button>
       
            {{ form_widget(commentForm._token) }}
        </form>

    </div>
{% else %}
    {{'Login to post comments.'|trans}}
{% endif %}

<hr class="hr"> 


<div class="comment">
    {% for comment in comments|reverse %}
        <small> 
            {{'User'|trans}} 
        </small>
        
        {% include 'common/username.html.twig' with {'user' : comment.author} %}

        <small> {{'posted at'|trans}} 
            {{ comment.createdAt|date("H:i | d/m/Y") }} 
        </small>
        
        <span class="comment-body ms-3 mt-1"> {{ comment.body }} </span>
        <hr class="hr"> 
        
        
    {% endfor %}
</div>  