{% extends 'base.html.twig' %}

{% block css %}
    <link href="{{asset('css/main.css')}}" rel="stylesheet">
{% endblock %}


{% block body %}


    {% include 'common/navbar.html.twig' %}

    <div class="row">
        <div class="col-1 col-md-3"></div>

        <div class="col-10 col-md-6 mt-3">
            <div>
                <h1>{{'Edit Issue'|trans}}</h1>
                <hr class="hr">

                <form name="bug" method="POST" action="{{path('edit_edit', {'bugID': bug.id})}}" enctype="multipart/form-data">

                    {{'Title'|trans}}:
                    <input id="{{form.title.vars.id}}" name="{{form.title.vars.full_name}}" required type="text" class="form-control" id="basic-url"
                           placeholder="{{'Write a descriptive title'|trans}}" value="{{ bug.title }}" >
                    <br>

                    <div class="row  mt-1 mb-2">
                        <div class="col-3  mb-3">
                            {{'Environment'|trans}}:
                            {{ form_widget(form.environment) }}
                        </div>
                        <div class="col-3">
                            {{'Affects versions'|trans}}:
                            {{ form_widget(form.version) }}
                        </div>
                    </div>

                    {{'Description'|trans}}:</label>

                    <textarea id="{{form.body.vars.id}}" name="{{form.body.vars.full_name}}" required class="form-control comment-textbox mt-1 mb-2" rows=10
                              placeholder="{{'Describe the issue...'|trans}}"  aria-label="With textarea">{{ bug.body }}</textarea>
                    <br>

                    <div class="clearfix ">


                        <div class="float-end">
                            <button  class="btn  btn-primary btn-block" type="submit" href="main.html">{{'Save'|trans}}</button>
                        </div>
                    </div>

                    {{ form_widget(form._token) }}

                </form>

            </div>
        </div>
    </div>

    <script src="main.js" crossorigin="anonymous"></script>

{% endblock  %}